<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@ViewBag.Title || DapueKue - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    

</head>
<body @*style="background:#281300 url(images/bg-head.jpg) repeat-x"*@>
    <div style="z-index:1;position:absolute; width:100%">
        @{Html.RenderAction("Header", "MyComponent");}

        @{Html.RenderAction("MenuPartial", "Home");}
</div>
    @*margin-top:190px; margin-left:200px*@
    <div style="z-index:0; position:center; width:100%">
        @RenderBody()
    </div>
        @Scripts.Render("~/bundles/scripts")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
