<div id="richContent">
    <div class="container_16">
        <div class="popularCakes grid_4">
            <h4>Popular Cakes</h4>
            <ul>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 42})">Donut Minions</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 23})">Cookies Japan</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 22})">Cupcake Chocolate</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 54})">Dorayaki Matcha</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 62})">Cheese Oreo</a></li>
            </ul>
        </div>
        <div class="recommended grid_4">
            <h4>Recommended</h4>
            <ul>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 62})">Cheese Oreo</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 22})">Cupcake Chocolate</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 15})">Macaron Full Color</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 49})">Mochi Ice-Cream</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 38})">Pudding Mango</a></li>
            </ul>
        </div>
        <div class="specialOffer grid_4">
            <h4>Special Offer</h4>
            <ul>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 28})">Tart Cheese</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 24})">Cookies Original</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 62})">Cheese Oreo</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 16})">Macaron Strawberry</a></li>
                <li><a href="@Url.Action("XemChiTiet","SANPHAMs", new {@MASP = 18})">Cupcake White</a></li>
            </ul>
        </div>
        <div class="orderPhone grid_4">
            <h4><em>Order by Phone</em> <span>987-654-321</span></h4>
        </div>
        <div class="clear"></div>
    </div>
</div>
