@using PheoBakery.Models
@model List<SanPhamDatHang>
@{
    ViewBag.Title = "View Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="warp" >
    <div id="main" class="container_16" >
        @if (Model == null || Model.Count() == 0)
            {
            <p style="font-size:2em;padding:10px;margin:10px">  </p>
                <a href="@Url.Action("Index","Home")" style="font-size:2em;padding:10px;margin:10px"> Return HomePage!! ^^ </a>
        }
        else
        {
            <div>
                <table width="950" >
                    <tr style="text-align:center">
                        <td  style="padding-top:50px"><strong>ID</strong></td>
                        <td><strong>Product Name</strong></td>
                        <td><strong>Image</strong></td>
                        <td><strong>Quantity</strong></td>
                        <td><strong>Price</strong></td>
                        <td><strong>Total Amount</strong></td>
                        <td><strong>Edit Item</strong></td>
                        <td><strong>Delete Item</strong></td>

                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr style="text-align:center">
                            <td>@item.MASP @Html.Hidden("MASP", item.MASP)</td>
                            <td>@item.TENSP</td>
                            <td><img src="@Url.Content("~/Content/CssHome/HinhSanPham/" +item.HINHANH)" style="height:150px;width:150px" /></td>
                            <td>@item.SOLUONG</td>
                            <td>@item.DONGIA.ToString("#,##")</td>
                            <td>@item.TONGTIEN.ToString("#,##")</td>
                            <td>@Html.ActionLink("Edit", "SuaGioHang", new { @MASP = item.MASP }, new { @class = "btn btn-success" })</td>
                            <td>@Html.ActionLink("Delete", "XoaGioHang", new { @MASP = item.MASP }, new { @class = "btn btn-danger" })</td>
                        </tr>
                    }
                </table>

                @using (Html.BeginForm("DatHang", "GioHang"))
                {
                    if (Session["user"] == null)
                    {
                        <div class="MuaHang">
                            <table align="center" class="table">
                                <tr>
                                <tr>
                                    <td>Họ tên:</td>
                                    <td>
                                        @Html.TextBox("TenKhachHang")
                                        <p style="color:red;" id="TB_TenKH"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Địa Chỉ:</td>
                                    <td>
                                        @Html.TextBox("DiaChi")
                                        <p style="color:red;" id="TB_DiaChi"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>
                                        <input name="email" placeholder="nhập vào địa chỉ email" type="email" required class="Email">
                                    </td>

                                </tr>
                                <tr>
                                    <td>Số Điện Thoại</td>
                                    <td>
                                        @Html.TextBox("SoDienThoai")
                                        <p style="color:red;" id="TB_Phone"></p>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    }
                    <div class="table-responsive" style="text-align:left;padding:10px">
                        <input type="submit" value="Order" class="btn btn-success" id="btnDatHang">
                        <a href="@Url.Action("Index","Home")">Continue Shopping</a>
                    </div>

                }
            </div>
        }
    </div>
</div>

@{Html.RenderAction("Infor", "MyComponent");}
@{Html.RenderAction("Footer", "MyComponent");}

@*kiểm tra validition thông qua jquyre*@
<script>
    $("#btnDatHang").click(function () {
        var loi = 0;
        if ($("#TenKhachHang").val() == "") {
            $("#TB_TenKH").text("không để trống trường này");
            loi++;
        }
        else {
            $("#TB_TenKH").text("");
        }
        if ($("#DiaChi").val() == "") {
            $("#TB_DiaChi").text("không để trống trường này");
            loi++;
        }
        else {
            $("#TB_DiaChi").text("");
        }
        if ($("#SoDienThoai").val() == "") {
            $("#TB_Phone").text("không để trống trường này");
            loi++;
        }
        else {
            $("#TB_Phone").text("");
        }
        if (loi != 0) {
            return false;
        }

    });


</script>



