@using PheoBakery.Models;

@model SANPHAM
@{
    ViewBag.Title = "Import Product";
    Layout = "~/Views/Admin/AdminQuanTri.cshtml";
}

<legend>Import Product<b style="color: rgb(192,0,0)"> @Model.TENSP</b> </legend>
<div class="row">
    <div class="col-md-3">
        <div class="imgSP">
            <img style="height: 250px; width: 300px;" src="@Url.Content("~/Content/ckfinder/core/connector/aspx/" + Model.HINHANH)" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="ttSP">
            <h3>Type of Product: @Model.LOAISP.TENLOAI</h3>
            <h3>Quantity: @Model.SOLUONGTON</h3>
            <h3>Unit Price: @Model.DONGIA.Value.ToString("#,##")$</h3>
        </div>
    </div>
</div>
<br />

@*thêm hình ảnh*@
<h2 style="font-size:20px; font-weight:bold;padding:10px;">Product's Information</h2>
@using (Html.BeginForm("NhapHangDon", "QuanLyNhapHang"))
{
    <div class="form-horizontal">
        <hr />
        @Html.Hidden("MASP", Model.MASP)
        <div class="form-group">
            <label class="control-label col-md-2">Product: </label>
            <div class="col-md-10">
                @Model.TENSP
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Unit Price :</label>
            <div class="col-md-10">
                @Html.TextBox("DONGIANHAP")
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Quantity :</label>
            <div class="col-md-10">
                @Html.TextBox("SOLUONGNHAP")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Import" class="btn btn-primary" />
            </div>
        </div>
    </div>

                    }

<style>
    .imgSP {
        border: 1px solid #999999;
        background-color: #fff;
        height: 250px;
        width: 300px;
    }
</style>


