@using PheoBakery.Models;
@model IEnumerable<DONDATHANG>
@{
    ViewBag.Title = "Unpaid";
    Layout = "~/Views/Admin/AdminQuanTri.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}

<h2>Orders Management (Orders List Unpaid)</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="@Url.Action("ChuaThanhToan","DONDATHANGs")">Unpaid</a></li>
    <li role="presentation"><a href="@Url.Action("ChuaGiao","DONDATHANGs")">Already Paid But Not Yet Delivered</a></li>
    <li role="presentation"><a href="@Url.Action("DaGiaoDaThanhToan","DONDATHANGs")">Delivered And Paid </a></li>
</ul>
<br />
@grid.GetHtml(
            tableStyle: "table table-bordered table-condensed table-responsive",
            headerStyle: "gridHead",
            footerStyle: "gridHead",
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAlter",
            columns: grid.Columns(
                        grid.Column("MADONDH", "Order Code"),
                        grid.Column("MAKH", "Customer's Name", format: p => p.MAKH != null ? p.KHACHHANG.TENKH : ""), // toán tử 3 ngôi
                        grid.Column("NGAYDAT", "Order Date"),
                         grid.Column("NGAYGIAO", "Delivery Date"),
                        grid.Column("GIAOHANG", "Delivery Status"),
                        grid.Column("THANHTOAN", "Payment"),

                         grid.Column("HUY", "Cancel Order"),
                                    grid.Column("Check Orders", format: p => @Html.ActionLink("Check Orders", "DuyetDonHang", new { Id = p.MADONDH }, new { @target = "_blank", @class = "btn btn-success" }))
                        ))







