@using PheoBakery.Models;

@model DonDatHang
@{
    ViewBag.Title = "Check Order";
    Layout = "~/Views/Admin/AdminQuanTri.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<h2>Order Information <font color="#f65e84">@Model.KHACHHANG.TENKH</font></h2>
<br /><br />

@using (Html.BeginForm())
{
    <div class="form-horizontal ChiTietDonHang">
        @{IEnumerable<CTDDH> lstChiTietDH = (IEnumerable<CTDDH>)ViewBag.ListChiTietDH;}
        <table class="table table-bordered table-responsive" id="table">
            @*Phần thông tin đơn hàng*@
            <tr>
                <td colspan="4">
                    <table style="width:100%;">
                        <tr>
                            <td>Order Code: <b style="color:red;"> @Model.MADONDH @Html.Hidden("MADONDH", @Model.MADONDH)</b></td>
                            <td>Customer Code: <b style="color:red;"> @Model.KHACHHANG.MAKH</b></td>
                            <td>Customer's Name: <b style="color:red;"> @Model.KHACHHANG.TENKH</b></td>
                            <td>Order Date: @Model.NGAYDAT.Value.ToString("dd/MM/yyyy")</td>
                            <td>Delivery Date:<input name="NGAYGIAO" type="text" id="datepicker"></td>
                            <td>Payment: @Html.EditorFor(model => model.THANHTOAN)</td>
                            <td>Delivered: @Html.EditorFor(model => model.GIAOHANG)</td>
                        </tr>
                    </table>
                </td>
            </tr>

            @*Thông tin chi tiết đơn hàng*@
            <tr>
                <td><b>Product</b></td>
                <td><b>Image</b></td>
                <td><b>The Number Of Orders</b></td>
                <td><b>Unit Price</b></td> @*Đơn giá đặt*@
            </tr>
            @foreach (var item in lstChiTietDH)
            {
                <tr>
                    <td>@item.SANPHAM.TENSP</td>
                    <td><img width="250" height="150" src="@Url.Content("~/Content/ckfinder/core/connector/aspx/"+item.SANPHAM.HINHANH)" /></td>
                    <td>@item.SOLUONG</td>
                    <td>@item.DONGIA</td>
                </tr>
            }
            <tr>
                <td align="right" colspan="4">Total: @Model.CTDDHs.Sum(n => n.SOLUONG) products</td>
            </tr>
            <tr>
                <td align="right" colspan="4">Total Money: @Model.CTDDHs.Sum(n => n.SANPHAM.DONGIA).Value.ToString("#,##") $</td>
            </tr>
        </table>
        <br /><br />
        <br /><br />
        <input type="button" value="Print Order" id="btnInDonHang" class="btn btn-success" />
        <input type="submit" value="Save Order" id="btnInDonHang" class="btn btn-success" />
    </div>
            }
<script>
    $("#btnInDonHang").click(function () {
        var content = "<table>" + $(".table").html() + "</table>";
        InDonHang(content);
    });
    function InDonHang(content) {
        var printWindow = window.open('', '', 'height = 400; width=400');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }

</script>



