@using PheoBakery.Models;
@model IEnumerable<SANPHAM>
@{
    ViewBag.Title = "Manage Product";
    Layout = "~/Views/Admin/AdminQuanTri.cshtml";
    // khởi tạo webgrid
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}

<h2 style="font-weight:bold;text-align:center">Product Management</h2>

@grid.GetHtml(
            tableStyle: "table table-bordered table-condensed table-responsive",
            headerStyle: "gridHead",
            footerStyle: "gridHead",
            rowStyle: "gridRow",
            alternatingRowStyle: "gridAlter",
            columns: grid.Columns(
                         grid.Column("MASP", "ID"),
                         grid.Column("TENSP", "Product Name"),
                         grid.Column("DONGIA", "Price"),
                        grid.Column("MOTA", "Quantity"),
                        grid.Column("LUOTXEM", "View"),
                        grid.Column("MALOAI", "Type", format: p => p.MALOAI != null ? p.LOAISP.TENLOAI : ""), // toán tử 3 ngôi
                        grid.Column("HINHANH", "Image", format: p => @Html.Raw("<img width=\"200\" height=\"250\" src = \"../Content/ckfinder/core/connector/aspx/" + p.HINHANH + "\">")),
                        grid.Column("Create", format: p => @Html.ActionLink("Create", "TaoMoiSanPham", null, new { @class = "btn btn-success" })),
                        grid.Column("Edit", format: p => @Html.ActionLink("Edit", "ChinhSuaSanPham", new { @MASP = p.MASP }, new { @class = "btn btn-danger" })),
                       grid.Column("Delete", format: p => @Html.ActionLink("Delete", "XoaSanPham", new { @MASP = p.MASP }, new { @class = "btn btn-default" }))

                        ))
