@using PheoBakery.Models;
@model SANPHAM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=482221048641721";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<style>
    .productsWarp {
	position:relative;
	overflow:hidden;
	margin-bottom:10px;
	padding-bottom:10px;
	width:940px;
	height:398px;
}
.productsWarp ul {
	list-style:none;
	margin:0;
	width:20000em;
	position:absolute;
}
.productsWarp ul li {
	list-style:none;
	float:left;
	margin:0;
}
</style>
<div id="warp">
    <div id="main" class="container_16">
        <div class="products grid_16" style="margin-top:40px">
            <h2 style="text-align:center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:46px">@Model.TENSP</h2>
            <table width="850">
                <tr>
                    <td>
                        <img src="@Url.Content("~/Content/ckfinder/core/connector/aspx/" + Model.HINHANH)"  width="500" height="350" /> 
                    </td>
                    <td rowspan="2" width="500px" style="text-align:center; font-size:25px">
                        <p><strong>Price: </strong>@Model.DONGIA.Value.ToString("#,##")</p>
                        <p><strong>Details: </strong>@Model.MOTA</p>
                        <p><strong>View: </strong>@Model.LUOTXEM</p>
                        <a href="@Url.Action("ThemGioHang", "GioHang", new { @MASP = Model.MASP, @strUrl= Request.Url.ToString() })">Add to cart</a>
                        
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <img src="@Url.Content("~/Content/ckfinder/core/connector/aspx/" + Model.HINHANH1)" width="200" height="200"/>
                        <img src="@Url.Content("~/Content/ckfinder/core/connector/aspx/" + Model.HINHANH2)" width="200" height="200" />
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center">
                        <div class="fb-comments" data-href="http://localhost:50143/" data-numposts="5"></div>      
                    </td>
                </tr>
            </table>
                   

            
        </div>
                   
                       
                <div class="clearfix"> </div>
            <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:25px; font-style:italic; text-align:center">
                OTHERS
            </h3>
                    <a href="@Url.Action("TrangSanPham", "SANPHAMs", new { @MALOAI = Model.MALOAI })"><img src="@Url.Content("~/Content/ckfinder/core/connector/aspx/" + Model.HINHANH)" alt="" width="250" height="250" /></a>

                    <h3>@Html.Raw(Model.TENSP)</h3>
                    <h4><a href="#"></a> <span >@Model.DONGIA.Value.ToString("#,##")</span></h4>
                <div class="clearfix"></div>
           

    </div>
</div>