@using PheoBakery.Models
@model IEnumerable<SANPHAM>


<style>
    .clear{
        clear: both;
    }
   
    ul#nav li{
            float:left;
            list-style: none;
    }
    ul#nav li a{
            display: block;
            text-decoration: none;
            margin: 5px 5px;
            padding: 2px 5px;
            border-bottom: 1px solid #b6ff00;
    }
    ul#nav li a:hover{
            background: #CCC;
            text-transform: uppercase;
    }
    ul#nav li ul li{
            float: none;
    }
    ul#nav li ul{
            display: none;
            position:page;
    }
    ul#nav li:hover ul{
            display: block;
    }
    .search-bar input[type="text"] {
	width: 100%;
	padding: 8px 18px 8px 8px;
    margin-top: 5px;
	border: 1px solid #F5F5F5;
	background:#F5F5F5;
	outline: none;
	-webkit-appearance: none;
	color: rgba(0, 0, 0, 0.74);
	font-size: 0.875em;
	font-family: 'Lato', sans-serif;
	position: relative;
}
.search-bar input[type="submit"] {
    background: url(../../Content/CssHome/images/search.png)no-repeat 0px 0px;
    outline: none;
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 13px;
    right: 10%;
    margin-right:135px;
}
.search-bar {
    width: 150px;
    float: right;
}
.search-bar2 {
    width: 90px;
    float: right;
}
 .search-bar2 input[type="text"] {
	width: 100%;
	padding: 0px 0px 0px 0px;
    margin-top: 5px;
	border: 1px solid #F5F5F5;
	background:#F5F5F5;
	outline: none;
	-webkit-appearance: none;
	color: rgba(0, 0, 0, 0.74);
	font-size: 0.875em;
	font-family: 'Lato', sans-serif;
	position: relative;
}
 .search-bar2 input[type="submit"] {
    background: url(../../Content/CssHome/images/search.png)no-repeat 0px 0px;
    outline: none;
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 13px;
    right: 5%;
    margin-right:3px;
}
</style>
<div id="warp">
    <div id="main" class="container_16">
        <div id="mainMenu" class="grid_16">
                <ul id="nav">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li>
                        <a href="#">Cakes</a>
                        <ul>
                            @foreach (var groupItem in Model.GroupBy(n => n.LOAISP))
                            {
                                if (groupItem.Key != null)
                                {
                                    <li>
                                        <a href="@Url.Action("TrangSanPham", "SANPHAMs", new { @MALOAI = groupItem.Key.MALOAI })">@groupItem.Key.TENLOAI</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    
                    <li><a href="@Url.Action("Index","Blog")">Blog</a></li>
                    <li><a href="@Url.Action("Index","About")">About</a></li>
                    <li><a href="@Url.Action("Index","LienHe")">Contact</a></li>
                    <li>
                        <div style="margin-left:100px">
                            @using (Html.BeginForm("LayTuKhoaTimKiem", "TimKiem"))
                            {
                                <div class="search-bar">
                                    <input type="text" name="sTuKhoa" placeholder="insert your keyword..">
                                    <input type="submit" value="">
                                </div>
                            }
                        </div>
                    </li>
                    <li>
                        <div style="margin-left:50px">
                            @using (Html.BeginForm("LayTuKhoaTimKiemGiaSP", "TimKiem"))
                            {
                                <div class="search-bar2">
                                    <input type="text" name="sTuKhoa1" placeholder="min value">
                                    <input type="text" name="sTuKhoa2" placeholder="max value">
                                    <input type="submit" value="">
                                </div>
                            }
                        </div>
                    </li>
                </ul>
            
        </div>
        
    </div>
    
    
</div>

